#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #FCEADE;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #535657;
}

body {
    background-color: #535657;
}

header {
    background-color: #535657;
}

nav a:hover {
    background-color: #FCEADE;
    color: #FCEADE;
}

.book, .join{ 
    background-color: #ff3a20;
    color: #FCEADE;
}

.book:hover, .join:hover {
    background-color: #ff3a20;
    color: #FCEADE;
}

.msg {
    background-color: #ff3a20;
}

footer {
    background-color: #535657;
    color: #FCEADE;
}

.home-title {
    color: #FCEADE;
}

h4 {
    color: #FCEADE;
}

.msg h2 {
    color: #FCEADE;
}

.msg p {
    color: #FCEADE;
}

footer a {
    color: #FCEADE;
}

footer a:hover {
    color: #FCEADE;
}

.logo, .icon {
    width: 80px;
}

#hero-img {
    width: 100%;
    margin: auto;
}