/* body {
    background-color: #535657;
    margin: 0px;
    padding: 0px;
}

.logo {
    height: 120px;
    width: 120px;
}

footer {
    background-color: #535657;
    color: #FCEADE;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #FCEADE;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */