/*-----------------------------------Font import------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

/*-----------------------------------all header style here-----------------------------------*/
header {
    background-color: #f58f29;
    display: grid;
    grid-template-columns: 150px auto;
    padding-left: 75px;
    padding-right: 75px;
}

.logo {
    width: 120px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    padding: 50px;
}

nav a:hover {
    background-color: #58a4b0;
    color: #efea5a;
    text-shadow: 2px 2px #424b54;

}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/*-------------------------------------------------Main  and general styles--------------------------------*/
body {
    background-color: #424b54;
    margin: 0px;
    padding: 0px;
}

h1, p, a{
    color: #424b54;
    font-family: "Roboto:wght@100", Helvetica, sans-serif;
}

h1 {
    font-family: "Roboto:wght@900", Helvetica, sans-serif;
    font-size: 50px;
}

p {
    font-size: 20px;
}

/*------------------------------banner style-------------------------------------------------------*/
#banner {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}

#banner-box {
    grid-column: 2/2;
    grid-row: 1/3;
    z-index: -1;
}

#banner-img {
    width: 100%;
}

#banner-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-right: 100px;
    color:#efea5a;
    font-size: large;
    text-align: right;
    text-shadow: 4px 4px #58a4b0;
}

/*----------------------------------news section--------------------------------------------------*/
.news-box {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 3fr 50px;
    grid-template-rows: 50px 400px 50px;
}
.news {
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: #f58f29;
}

.news-image{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 350px;
    padding: 25px
}

.news-box h1{
    padding: 50px;
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    font-size: 75px;
    word-wrap: normal;
    max-width: 100%;
    margin: auto;
    color:#efea5a;
}

.news-box p{
    column-count: 3;
    column-gap: 50px;
    padding: 50px;
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: justify;
    word-wrap: normal;
    max-width: 100%;
    margin: auto;
    color:#efea5a;
}

#news-background {
    margin: 25px;
    grid-column: 3/5;
    grid-row: 2/3;
    background-color: #58a4b0;
}

/*----------------------------------------tutorial section----------------------------------------------*/
.tutorials {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
    grid-template-rows: 25px 1fr 25px;
}

.tutorials p {
    padding: 50px;
    padding-left: 0px;
    text-align: justify;
    font-size: 20px;
    word-wrap: normal;
}

.tutorial1 {
    grid-column: 1/3;
    background-color:#f58f29;
    grid-row: 2/3;
}

.tutorial1-image {
    grid-column: 1/2;
    padding:50px;
    height: 200px;
    grid-row: 2/3;
}

.tutorial2 {
    grid-column: 4/6;
    background-color:#f58f29;
    grid-row: 2/3;
}

.tutorial2-image {
    grid-column: 4/5;
    padding:50px;
    height: 200px;
    grid-row: 2/3;
}

.tutorial1-text {
    grid-column: 2/3;
    grid-row: 2/3;
}

.tutorial2-text {
    grid-column: 5/6;
    grid-row: 2/3;
}

/*----------------------------------------tutorial section----------------------------------------------*/
.review {
    margin: 25px 100px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 25px 1fr 25px;
}

.review-image {
    width: 100%;
    grid-column: 1/2;
    grid-row:2/3;
}

.review p {
    grid-column: 2/3;
    grid-row:2/3;
    padding: 50px 50px 50px 100px;
    text-align: justify;
    font-size: 20px;
    word-wrap: normal;
}

#review-section {
    grid-column: 2/3;
    grid-row:2/3;
    margin-left: 50px;
    background-color: #f58f29;
}

/*----------------------------------------about me section----------------------------------------------*/
.aboutme {
    margin: 25px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 25px 300px 25px;
    background-color: #f58f29;
}

.aboutme-image {
    padding: 0px 100px;
    grid-column: 1/2;
    grid-row: 2/3;
    width:50%;
    border-radius: 50%;
}

#aboutme-section {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0px 50px;
}

#aboutme-section h1{
    text-align: center;
}

#aboutme-section p{
    font-size: 20px;
    text-align: justify;
}

/*----------------------------------------footer section----------------------------------------------*/
footer {
    background-color: #f58f29;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    height: 50px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color:#efea5a;
}